{%extends 'base.html'%}
{% load static %}
{% block content %}


<div class="card" style="max-width: 120rem;">





<a href="{% url 'imagedetails' image.id %}">  <img class="center" src="{{image.image.url }}" class="center" alt="Card image cap"></a>
<h2>{{image.name}}</h2>
<p>{{image.caption}}</p>


  <div class="card-body">

  <a href="{%url 'comment' image.id%}">Add Comment</a>
  <br>
  {%if is_liked%}
  <a href="{%url 'likes' image.id %}">
  <ion-icon name="heart">{{likes}} dislike</ion-icon>
</a>
  {%else%}
             <a href="{%url 'likes' image.id %}">
             <ion-icon name="heart">{{likes}} like</ion-icon>
           </a>
{% endif %}
  </div>
</div>




{% endblock %}
